---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/web/Navbar.astro";
import Footer from "../../components/web/Footer.astro";
import HeaderServiceItem from "../../components/web/HeaderServiceItem.astro";
import ButtonServiceItem from "../../components/web/ButtonServiceItem.astro";
import DescriptionServiceItem from "../../components/web/DescriptionServiceItem.astro";
import ServiceItemList from "../../components/web/ServiceItemList.astro";
import DateServiceItem from "../../components/web/DateServiceItem.astro";
---

<Layout title="Bichectomía">
    <Navbar />
    <HeaderServiceItem
        title="Bichectomía"
        image="/images/servicef11.png"
    />
    <section>
        <div class="flex flex-col md:flex-row">
            <ButtonServiceItem title="Agenda una cita" />
            <DescriptionServiceItem
                description="¡Luce un rostro refinado y estético! La rinomodelación es un tratamiento mínimamente invasivo y de raída recuperación que mediante el relleno con material biocompatible en puntos estratégicos de la nariz se va obteniendo la forma armónica esperada sin alterar la fisionomía. Con esta técnica podemos elevar la punta de la nariz, modificar las irregularidades del dorso consiguiendo un perfil más estético."
            />
        </div>
    </section>
    <section class="py-5">
        <div class="container mx-auto flex flex-col md:flex-row items-start">
            <div class="w-full md:w-1/2 p-10 md:p-20 text-center md:text-left">
                <p>
                    <span class="font-semibold"
                        >En Risso Beauty Studio contamos con los mejores tratamientos en Bichectomía.</span
                    >
                </p>
            </div>
            <div class="w-full md:w-1/2 p-10 md:p-20">
                <ServiceItemList
                    list={[
                        "Rápida recuperación.",
                        "El ovalo facial se perfila y se alarga el rostro obteniendo una apariencia más estilizada.",
                        "La intervención no deja resultados visibles o cicatrices ya que se hace por el interior de la boca.",
                        "Resultado permanente.",
                        "El paciente puede volver a casa inmediatamente después de la intervención."
                    ]}
                    listStyle="list-card-home-blue"
                />
                <p>Duración del tratamiento: 45 - 60 minutos.</p>
            </div>
        </div>
    </section>
    <section class="bg-gray-300 p-10" id="booking-date">
        <DateServiceItem />
    </section>
    <Footer />
</Layout>