---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/web/Navbar.astro";
import Footer from "../../components/web/Footer.astro";
import HeaderServiceItem from "../../components/web/HeaderServiceItem.astro";
import ButtonServiceItem from "../../components/web/ButtonServiceItem.astro";
import DescriptionServiceItem from "../../components/web/DescriptionServiceItem.astro";
import ServiceItemList from "../../components/web/ServiceItemList.astro";
import DateServiceItem from "../../components/web/DateServiceItem.astro";
---

<Layout title="Bichectomía">
    <Navbar />
    <HeaderServiceItem
        title="Bichectomía"
        image="/images/servicef11.png"
    />
    <section>
        <div class="flex flex-col md:flex-row">
            <ButtonServiceItem title="Agenda una cita" />
            <DescriptionServiceItem
                description="Es un procedimiento sencillo y seguro que consiste en la reducción quirúrgica del exceso de grasa en las mejillas mediante la extracción de las Bolas de Bichat, que son unas glándulas de tejido graso que no cumplen ninguna función específica en el adulto, si no que aportan volumen dando lugar a un rostro redondeado. A través de esta intervención se elimina el exceso de volumen en ambas mejillas y se obtiene un rostro más delgado y estilizado."
            />
        </div>
    </section>
    <section class="py-5">
        <div class="container mx-auto flex flex-col md:flex-row items-start">
            <div class="w-full md:w-1/2 p-10 md:p-20 text-center md:text-left">
                <p>
                    <span class="font-semibold"
                        >La lista de tratamientos que se aplicarán dependen de
                        cada paciente y la condición de su piel</span
                    >, ya que cada caso es particular, más los tratamientos
                    combinados que se puede incluir generlamente son:
                </p>
            </div>
            <div class="w-full md:w-1/2 p-10 md:p-20">
                <ServiceItemList
                    list={[
                        "Hydrafacial premium",
                        "Peeling médico antiacné",
                        "Dermapen + serum regenerante dérmico",
                        "Tratamiento médico domiciliario",
                    ]}
                    listStyle="list-card-home-blue"
                />
            </div>
        </div>
    </section>
    <section class="bg-gray-300 p-10" id="booking-date">
        <DateServiceItem />
    </section>
    <Footer />
</Layout>