---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/web/Navbar.astro";
import Footer from "../../components/web/Footer.astro";
import HeaderServiceItem from "../../components/web/HeaderServiceItem.astro";
import ButtonServiceItem from "../../components/web/ButtonServiceItem.astro";
import DescriptionServiceItem from "../../components/web/DescriptionServiceItem.astro";
import ServiceItemList from "../../components/web/ServiceItemList.astro";
import DateServiceItem from "../../components/web/DateServiceItem.astro";
---

<Layout title="otox & Ácido Hialurónico">
    <Navbar />
    <HeaderServiceItem
        title="Botox & Ácido Hialurónico"
        image="/images/servicef01.png"
    />
    <section>
        <div class="flex flex-col md:flex-row">
            <ButtonServiceItem title="Agenda una cita" />
            <DescriptionServiceItem
                description="¡Luce hasta 10 años más joven en 10 minutos! La gesticulación excesiva a través de los años sumada a factores genéticos y ambientales generan líneas de expresión principalmente en la parte superior del rostro (Líneas en la frente, entrecejo y patas de gallo). El Botox es un tratamiento médico que Suaviza o elimina estas líneas para obtener una apariencia juvenil y fresca, los resultados son visibles a los pocos días. El tratamiento se realiza en pocos minutos y la persona se puede incorporar inmediatamente a su actividad habitual. El acido hialurónico es un componente presente de forma natural en la piel. Sin embargo, por el proceso de envejecimiento dicha sustancia disminuye produciendo cambios en la piel como deshidratación, perdida de volumen y firmeza. Con los rellenos de ácido hialurónico se puede restaurar el volumen perdido de los pómulos, el mentón, los labios y otras zonas para lograr un aspecto natural del rostro, así como lograr un efecto relleno inmediato en surcos y arrugas profundas."
            />
        </div>
    </section>
    <section class="py-5">
        <div class="container mx-auto flex flex-col md:flex-row items-start">
            <div class="w-full md:w-1/2 p-10 md:p-20 text-center md:text-left">
                <p>
                    <span class="font-semibold"
                        >En Risso Beauty Studio sabemos lo importante y delicado que es un tratamiento de Botox y Ácido Hialurónico por lo que nuestros médicos son altamente experimentados en esta área para realizar un tratamiento completo que consta de los siguiente beneficios:</span>
                </p>
            </div>
            <div class="w-full md:w-1/2 p-10 md:p-20">
                <ServiceItemList
                    list={[
                        "Es un tratamiento muy rápido, que no requiere anestesia y es muy seguro.",
                        "Puedes realizar tus actividades normales después del tratamiento.",
                        "Los  resultados son  duraderos (efecto entre 3 y 6 meses) se recomienda 2 veces al año.",
                        "Se puede aplicar en cualquier época del año",
                        "Ácido Hialurónico: Resultados naturales e inmediatos.",
                        "Botox: Muy eficaz en el tratamiento de la hipersudoración."
                    ]}
                    listStyle="list-card-home-blue"
                />
            </div>
        </div>
    </section>
    <section class="bg-gray-300 p-10" id="booking-date">
        <DateServiceItem />
    </section>
    <Footer />
</Layout>
