---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/web/Navbar.astro";
import Footer from "../../components/web/Footer.astro";
import HeaderServiceItem from "../../components/web/HeaderServiceItem.astro";
import ButtonServiceItem from "../../components/web/ButtonServiceItem.astro";
import DescriptionServiceItem from "../../components/web/DescriptionServiceItem.astro";
import ServiceItemList from "../../components/web/ServiceItemList.astro";
import DateServiceItem from "../../components/web/DateServiceItem.astro";
---

<Layout title="Microneedling">
    <Navbar />
    <HeaderServiceItem
        title="Microneedling"
        image="/images/servicef05.png"
    />
    <section>
        <div class="flex flex-col md:flex-row">
            <ButtonServiceItem title="Agenda una cita" />
            <DescriptionServiceItem
                description="¡Olvídate de las imperfecciones! Tratamiento que consiste en la estimulación del mecanismo de reparación de la piel mediante micropunción con agujas finas que abren micro canales de absorción para sustancias que se colocan como vitaminas, antioxidantes, regeneradores del colágeno, etc, Los beneficios incluyen mejoramiento de la luminosidad y textura de la piel, ayuda al tratamiento de las manchas, poros abiertos, arrugas finas cicatrices de acné y otras imperfecciones."
            />
        </div>
    </section>
    <section class="py-5">
        <div class="container mx-auto flex flex-col md:flex-row items-start">
            <div class="w-full md:w-1/2 p-10 md:p-20 text-center md:text-left">
                <p>
                    <span class="font-semibold"
                        >En Risso Beauty Studio utilizamos serums importados de alta calidad con el fin de ofrecer la mejor experiencia y beneficios, los cuales son:</span
                    >
                </p>
            </div>
            <div class="w-full md:w-1/2 p-10 md:p-20">
                <ServiceItemList
                    list={[
                        "Tratamiento mínimamente invasivo.",
                        "El paciente puede continuar con sus actividades diarias con normalidad.",
                        "Es apto para todo tipo de piel.",
                        "Mejora el tono y textura de la piel.",
                        "Puede realizarse de zona segura como escote, párpados, labios o cuello.",
                        "Ideal para tratar cicatrices de acné, flacidez, manchas y arrugas."
                    ]}
                    listStyle="list-card-home-blue"
                />
                <p>Duración del tratamiento: 30 a 45 minutos.</p>
            </div>
        </div>
    </section>
    <section class="bg-gray-300 p-10" id="booking-date">
        <DateServiceItem />
    </section>
    <Footer />
</Layout>