---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/web/Navbar.astro";
import Footer from "../../components/web/Footer.astro";
import HeaderServiceItem from "../../components/web/HeaderServiceItem.astro";
import ButtonServiceItem from "../../components/web/ButtonServiceItem.astro";
import DescriptionServiceItem from "../../components/web/DescriptionServiceItem.astro";
import ServiceItemList from "../../components/web/ServiceItemList.astro";
import DateServiceItem from "../../components/web/DateServiceItem.astro";
---

<Layout title="Peeling Médico">
    <Navbar />
    <HeaderServiceItem
        title="Peeling Médico"
        image="/images/servicef04.png"
    />
    <section>
        <div class="flex flex-col md:flex-row">
            <ButtonServiceItem title="Agenda una cita" />
            <DescriptionServiceItem
                description="¡Luce una piel sana y reluciente! El peeling medico consiste en el uso de una solución química bajo supervisión médica con el fin de eliminar las capas superficiales dañadas de la piel: el tratamiento se personaliza de acuerdo al problema que se desea solucionar como: Manchas, arrugas finas, envejecimiento de manos, cicatrices de acné, acné activo, foto envejecimiento, falta de brillo y aspecto desvitalizado de la piel, etc."
            />
        </div>
    </section>
    <section class="py-5">
        <div class="container mx-auto flex flex-col md:flex-row items-start">
            <div class="w-full md:w-1/2 p-10 md:p-20 text-center md:text-left">
                <p>
                    <span class="font-semibold"
                        >En Risso Beauty Studio contamos con los mejores equipos, ya que el peeling es el tratamiento más seguro y efectivo, teniendo muchos beneficios como:</span
                    >
                </p>
            </div>
            <div class="w-full md:w-1/2 p-10 md:p-20">
                <ServiceItemList
                    list={[
                        "Hidrata la piel",
                        "Aclara la piel y le aporta mayor luminosidad",
                        "Nos ayuda a lucir una piel mas tersa",
                        "Estimula la producción de colágeno y elastina",
                        "Contribuye a cerrar los poros",
                        "Muchos más"
                    ]}
                    listStyle="list-card-home-blue"
                />
                <p>Duración del tratamiento: 30 a 45 minutos</p>
            </div>
        </div>
    </section>
    <section class="bg-gray-300 p-10" id="booking-date">
        <DateServiceItem />
    </section>
    <Footer />
</Layout>