---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/web/Navbar.astro";
import Footer from "../../components/web/Footer.astro";
import HeaderServiceItem from "../../components/web/HeaderServiceItem.astro";
import ButtonServiceItem from "../../components/web/ButtonServiceItem.astro";
import DescriptionServiceItem from "../../components/web/DescriptionServiceItem.astro";
import ServiceItemList from "../../components/web/ServiceItemList.astro";
import DateServiceItem from "../../components/web/DateServiceItem.astro";
---

<Layout title="Rinomodelación">
    <Navbar />
    <HeaderServiceItem
        title="Rinomodelación"
        image="/risso/images/servicef10.png"
    />
    <section>
        <div class="flex flex-col md:flex-row">
            <ButtonServiceItem title="Agenda una cita" />
            <DescriptionServiceItem
                description="¡La nariz de tus sueños sin cirugía ni dolores! La rinomodelación es un tratamiento minimamente invasivo y de raída recuperación que mediante el relleno con material biocompatible en puntos estratégicos de la nariz se va obteniendo la forma armónica esperada sin alterar la fisionomía. Con esta técnica podemos elevar la punta de la nariz, modificar las irregularidades del dorso consiguiendo un perfil más estético."
            />
        </div>
    </section>
    <section class="py-5">
        <div class="container mx-auto flex flex-col md:flex-row items-start">
            <div class="w-full md:w-1/2 p-10 md:p-20 text-center md:text-left">
                <p>
                    <span class="font-semibold"
                        >La rinomodelación tiene múltiples beneficios en comparación a una cirugía como:</span
                    >
                </p>
            </div>
            <div class="w-full md:w-1/2 p-10 md:p-20">
                <ServiceItemList
                    list={[
                        "Resultados inmediatos.",
                        "Procedimiento rápido y eficaz sin necesidad de utilizar anestesia general ni permanecer en reposo.",
                        "No deja ningún tipo de cicatriz.",
                        "Evita riesgos y complicaciones quirúrgicas permanentes.",
                        "Indoloro y poco invasivo.",
                        "Diferencias importantes en cuanto al precio con respecto a la rinoplastia quirúrgica."
                    ]}
                    listStyle="list-card-home-blue"
                />
                <p>Duración del tratamiento: 30 minutos.</p>
            </div>
        </div>
    </section>
    <section class="bg-gray-300 p-10" id="booking-date">
        <DateServiceItem />
    </section>
    <Footer />
</Layout>