---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/web/Navbar.astro";
import Footer from "../../components/web/Footer.astro";
import HeaderServiceItem from "../../components/web/HeaderServiceItem.astro";
import ButtonServiceItem from "../../components/web/ButtonServiceItem.astro";
import DescriptionServiceItem from "../../components/web/DescriptionServiceItem.astro";
import ServiceItemList from "../../components/web/ServiceItemList.astro";
import DateServiceItem from "../../components/web/DateServiceItem.astro";
---

<Layout title="Aclaramiento Dental">
    <Navbar />
    <HeaderServiceItem
        title="Aclaramiento Dental"
        image="/images/serviced05.jpg"
    />
    <section>
        <div class="flex flex-col md:flex-row">
            <ButtonServiceItem title="Agenda una cita" />
            <DescriptionServiceItem
                description="Tratamiento que consiste en aclarar sus dientes de acuerdo a las tonalidades de cada paciente, tonalidad que ha ido oscureciendo por el paso de los años, consumo de tabaco o machas extrínsecas o intrínsecas, en este caso puede ir asociado a otro tratamiento llamado Microabrasión del Esmalte que consiste en una abrasión superficial de menos de 0.2mm."
            />
        </div>
    </section>
    <section class="py-5">
        <div class="container mx-auto flex flex-col md:flex-row items-start">
            <div class="w-full md:w-1/2 p-10 md:p-20 text-center md:text-left">
                <p>
                    <span class="font-semibold"
                        >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat impedit inventore enim ex minus veritatis.</span
                    > Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, aspernatur
                </p>
            </div>
            <div class="w-full md:w-1/2 p-10 md:p-20">
                <ServiceItemList
                    list={[
                        "Lorem ipsum, dolor sit",
                        "Lorem ipsum dolor",
                        "adipisicing elit. Similique",
                        "Placeat impedit inventore",
                    ]}
                    listStyle="list-card-home-blue"
                />
            </div>
        </div>
    </section>
    <section class="bg-gray-300 p-10" id="booking-date">
        <DateServiceItem />
    </section>
    <Footer />
</Layout>