---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/web/Navbar.astro";
import Footer from "../../components/web/Footer.astro";
import HeaderServiceItem from "../../components/web/HeaderServiceItem.astro";
import ButtonServiceItem from "../../components/web/ButtonServiceItem.astro";
import DescriptionServiceItem from "../../components/web/DescriptionServiceItem.astro";
import ServiceItemList from "../../components/web/ServiceItemList.astro";
import DateServiceItem from "../../components/web/DateServiceItem.astro";
---

<Layout title="Bichectomia">
    <Navbar />
    <HeaderServiceItem
        title="Bichectomia"
        image="/images/serviced08.jpg"
    />
    <section>
        <div class="flex flex-col md:flex-row">
            <ButtonServiceItem title="Agenda una cita" />
            <DescriptionServiceItem
                description="La Bichectomía es la extracción de la grasa de las mejillas, también llamada bolsa de Bichat, es del tamaño de una nuez aproximadamente y se extrae por una pequeña incisión dentro de la boca por tanto no hay cicatriz visible. Con este procedimiento obtendrá aumento de la definición del pómulo en su parte inferior y afinamiento de las mejillas, perfilando así el óvalo facial. Es una cirugía sencilla de aproximadamente 45 minutos de duración y se realiza con anestesia local."
            />
        </div>
    </section>
    <section class="py-5">
        <div class="container mx-auto flex flex-col md:flex-row items-start">
            <div class="w-full md:w-1/2 p-10 md:p-20 text-center md:text-left">
                <p>
                    <span class="font-semibold"
                        >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat impedit inventore enim ex minus veritatis.</span
                    > Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, aspernatur
                </p>
            </div>
            <div class="w-full md:w-1/2 p-10 md:p-20">
                <ServiceItemList
                    list={[
                        "Lorem ipsum, dolor sit",
                        "Lorem ipsum dolor",
                        "adipisicing elit. Similique",
                        "Placeat impedit inventore",
                    ]}
                    listStyle="list-card-home-blue"
                />
            </div>
        </div>
    </section>
    <section class="bg-gray-300 p-10" id="booking-date">
        <DateServiceItem />
    </section>
    <Footer />
</Layout>