---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/web/Navbar.astro";
import Footer from "../../components/web/Footer.astro";
import HeaderServiceItem from "../../components/web/HeaderServiceItem.astro";
import ButtonServiceItem from "../../components/web/ButtonServiceItem.astro";
import DescriptionServiceItem from "../../components/web/DescriptionServiceItem.astro";
import ServiceItemList from "../../components/web/ServiceItemList.astro";
import DateServiceItem from "../../components/web/DateServiceItem.astro";
---

<Layout title="Blanqueamiento Dental">
    <Navbar />
    <HeaderServiceItem
        title="Blanqueamiento Dental"
        image="/images/serviced02.jpg"
    />
    <section>
        <div class="flex flex-col md:flex-row">
            <ButtonServiceItem title="Agenda una cita" />
            <DescriptionServiceItem
                description="¡Una sonrisa blanca es una sonrisa hermosa! El blanqueamiento dental es un tratamiento que nos permite aclarar el tono de los dientes para un resultado estético ideal. Es muy importante que sea realizado y supervisado por un profesional, que, en primer lugar, sepa diagnosticar cada caso para indicar el tratamiento ideal."
            />
        </div>
    </section>
    <section class="py-5">
        <div class="container mx-auto flex flex-col md:flex-row items-start">
            <div class="w-full md:w-1/2 p-10 md:p-20 text-center md:text-left">
                <p>
                    <span class="font-semibold"
                        >En Risso contamos con materiales exclusivos y un estudio de la sensibilidad dental para ofrecer resultados efectivos y cómodos, el tratamiento incluye:</span
                    >
                </p>
            </div>
            <div class="w-full md:w-1/2 p-10 md:p-20">
                <ServiceItemList
                    list={[
                        "Técnica pocamente invasiva y completamente inocua para tu saludo boca-dental.",
                        "Dependiendo a la necesidad del paciente se puede aplicar: Blaqueamiento con ferula, blanqueamiento de consultorio o blanqueamiento mixto.",
                        "Proceso rápido y sencillo con resultados naturales.",
                        "Siguiendo las recomendaciones del especialista se tiene resultados de larga duración.",
                    ]}
                    listStyle="list-card-home-blue"
                />
                <p>Duración del tratamiento Blanqueamiento en consultorio: Puede verse sensibilidad.</p>
                <p>Duración del tratamiento Férulas: 1 semana. Mínima sensibilidad.</p>
                <p>Duración del tratamiento Mixto: 1 semana. Sensibilidad regular.</p>
            </div>
        </div>
    </section>
    <section class="bg-gray-300 p-10" id="booking-date">
        <DateServiceItem />
    </section>
    <Footer />
</Layout>