---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/web/Navbar.astro";
import Footer from "../../components/web/Footer.astro";
import HeaderServiceItem from "../../components/web/HeaderServiceItem.astro";
import ButtonServiceItem from "../../components/web/ButtonServiceItem.astro";
import DescriptionServiceItem from "../../components/web/DescriptionServiceItem.astro";
import ServiceItemList from "../../components/web/ServiceItemList.astro";
import DateServiceItem from "../../components/web/DateServiceItem.astro";
---

<Layout title="Carillas Dentales">
    <Navbar />
    <HeaderServiceItem
        title="Carillas Dentales"
        image="/risso/images/serviced01.jpg"
    />
    <section>
        <div class="flex flex-col md:flex-row">
            <ButtonServiceItem title="Agenda una cita" />
            <DescriptionServiceItem
                description="¡La sonrisa de tus sueños en pocas sesiones! Tratamiento estético basado en la remodelación de los dientes a través del uso de cerámicas o resinas compuestas, que se colocan sobre la cara superficial de los dientes para mejorar su posición, forma, tamaño o color, así como también cerrar espacios entre los dientes (diastemas)."
            />
        </div>
    </section>
    <section class="py-5">
        <div class="container mx-auto flex flex-col md:flex-row items-start">
            <div class="w-full md:w-1/2 p-10 md:p-20 text-center md:text-left">
                <p>
                    <span class="font-semibold"
                        >En Risso Dental Stetic,</span
                    >
                </p>
            </div>
            <div class="w-full md:w-1/2 p-10 md:p-20">
                <ServiceItemList
                    list={[
                        "No es necesario tallar el diente y por ello no provoca lesiones.",
                        "Solución estética mínimamente invasiva, indolora y rápida.",
                        "Una excelente opción para aquellos pacientes que quieren mejorar el aspecto de su boca y su sonrisa.",
                        "Color tamaño y forma deseado según el requerimiento estético del paciente.",
                        "Evaluación fotográfica",
                        "Encerado de diagnóstico"
                    ]}
                    listStyle="list-card-home-blue"
                />
                <p>Duración del tratamiento Cerámico: 3 sesiones.</p>
                <p>Duración del tratamiento Resina: 2 sesiones.</p>
            </div>
        </div>
    </section>
    <section class="bg-gray-300 p-10" id="booking-date">
        <DateServiceItem />
    </section>
    <Footer />
</Layout>