---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/web/Navbar.astro";
import Footer from "../../components/web/Footer.astro";
import HeaderServiceItem from "../../components/web/HeaderServiceItem.astro";
import ButtonServiceItem from "../../components/web/ButtonServiceItem.astro";
import DescriptionServiceItem from "../../components/web/DescriptionServiceItem.astro";
import ServiceItemList from "../../components/web/ServiceItemList.astro";
import DateServiceItem from "../../components/web/DateServiceItem.astro";
---

<Layout title="Coronas Dentales">
    <Navbar />
    <HeaderServiceItem
        title="Coronas Dentales"
        image="/images/serviced04.jpg"
    />
    <section>
        <div class="flex flex-col md:flex-row">
            <ButtonServiceItem title="Agenda una cita" />
            <DescriptionServiceItem
                description="¡Diseñemos la sonrisa que deseas! Las coronas son un método muy efectivo para recuperar la estética y función dental. También aportan una mayor resistencia al diente en caso de que este haya perdido parte de su superficie, y puede sustituirlo si al paciente le falta una pieza dental."
            />
        </div>
    </section>
    <section class="py-5">
        <div class="container mx-auto flex flex-col md:flex-row items-start">
            <div class="w-full md:w-1/2 p-10 md:p-20 text-center md:text-left">
                <p>
                    <span class="font-semibold"
                        >En Risso contamos con todo tipo de coronas dentales cuidando siempre la salud y estética del paciente, siempre con la especialidad de diseño de sonrisas, consiguiendo los siguientes beneficios:</span
                    >
                </p>
            </div>
            <div class="w-full md:w-1/2 p-10 md:p-20">
                <ServiceItemList
                    list={[
                        "Devuelve la función dental al paciente.",
                        "Son imperceptibles, manteniendo el color de la dentadura y recuperando la estética de tu sonrisa.",
                        "Se comporta como un diente natural imitando la forma y tono del resto de la sonrisa.",
                    ]}
                    listStyle="list-card-home-blue"
                />
                <p>Duración del tratamiento: 3 - 4 citas.</p>
            </div>
        </div>
    </section>
    <section class="bg-gray-300 p-10" id="booking-date">
        <DateServiceItem />
    </section>
    <Footer />
</Layout>