---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/web/Navbar.astro";
import Footer from "../../components/web/Footer.astro";
import HeaderServiceItem from "../../components/web/HeaderServiceItem.astro";
import ButtonServiceItem from "../../components/web/ButtonServiceItem.astro";
import DescriptionServiceItem from "../../components/web/DescriptionServiceItem.astro";
import ServiceItemList from "../../components/web/ServiceItemList.astro";
import DateServiceItem from "../../components/web/DateServiceItem.astro";
---

<Layout title="Coronas Dentales">
    <Navbar />
    <HeaderServiceItem
        title="Coronas Dentales"
        image="/risso/images/serviced04.jpg"
    />
    <section>
        <div class="flex flex-col md:flex-row">
            <ButtonServiceItem title="Agenda una cita" />
            <DescriptionServiceItem
                description="Las coronas son un método muy efectivo para recuperar la estética dental. También aportan una mayor resistencia al diente en caso de que este haya perdido parte de su superficie, y puede sustituirlo si al paciente le falta una pieza dental."
            />
        </div>
    </section>
    <section class="py-5">
        <div class="container mx-auto flex flex-col md:flex-row items-start">
            <div class="w-full md:w-1/2 p-10 md:p-20 text-center md:text-left">
                <p>
                    <span class="font-semibold"
                        >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat impedit inventore enim ex minus veritatis.</span
                    > Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique, aspernatur
                </p>
            </div>
            <div class="w-full md:w-1/2 p-10 md:p-20">
                <ServiceItemList
                    list={[
                        "Lorem ipsum, dolor sit",
                        "Lorem ipsum dolor",
                        "adipisicing elit. Similique",
                        "Placeat impedit inventore",
                    ]}
                    listStyle="list-card-home-blue"
                />
            </div>
        </div>
    </section>
    <section class="bg-gray-300 p-10" id="booking-date">
        <DateServiceItem />
    </section>
    <Footer />
</Layout>