---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/web/Navbar.astro";
import Footer from "../../components/web/Footer.astro";
import HeaderServiceItem from "../../components/web/HeaderServiceItem.astro";
import ButtonServiceItem from "../../components/web/ButtonServiceItem.astro";
import DescriptionServiceItem from "../../components/web/DescriptionServiceItem.astro";
import ServiceItemList from "../../components/web/ServiceItemList.astro";
import DateServiceItem from "../../components/web/DateServiceItem.astro";
---

<Layout title="Gingivectomía">
    <Navbar />
    <HeaderServiceItem
        title="Gingivectomía"
        image="/risso/images/serviced07.jpg"
    />
    <section>
        <div class="flex flex-col md:flex-row">
            <ButtonServiceItem title="Agenda una cita" />
            <DescriptionServiceItem
                description="¡Que tu sonrisa se muestre completa y perfecta! Tratamiento de estética dental para mejorar el tamaño de las encías a través de procedimientos quirúrgicos mediante los cuales se elimina una parte del tejido gingival o de la encía, bien para tratar algún problema o bien para mejorar el aspecto de la sonrisa. Mediante esta operación se modifica el contorno, el tamaño o la forma de las encías."
            />
        </div>
    </section>
    <section class="py-5">
        <div class="container mx-auto flex flex-col md:flex-row items-start">
            <div class="w-full md:w-1/2 p-10 md:p-20 text-center md:text-left">
                <p>
                    <span class="font-semibold"
                        >En Risso Dental Studio sabemos la importancia de los tratamientos estéticos, por lo que contamos con los mejores especialistas ofreciendo los siguientes beneficios:</span
                    >
                </p>
            </div>
            <div class="w-full md:w-1/2 p-10 md:p-20">
                <ServiceItemList
                    list={[
                        "Corrección de asimetrías e irregularidades.",
                        "Se corrige la desproporción de las encías con los dientes, en la mayoría de los casos, se trata de personas que muestran demasiado las encías al sonreír, Es decir, que tienen sonrisa gingival.",
                        "Se pueden tratar problemas.",
                    ]}
                    listStyle="list-card-home-blue"
                />
                <p>Duración del tratamiento: 3 - 4 citas.</p>
            </div>
        </div>
    </section>
    <section class="bg-gray-300 p-10" id="booking-date">
        <DateServiceItem />
    </section>
    <Footer />
</Layout>