---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/web/Navbar.astro";
import Footer from "../../components/web/Footer.astro";
import HeaderServiceItem from "../../components/web/HeaderServiceItem.astro";
import ButtonServiceItem from "../../components/web/ButtonServiceItem.astro";
import DescriptionServiceItem from "../../components/web/DescriptionServiceItem.astro";
import ServiceItemList from "../../components/web/ServiceItemList.astro";
import DateServiceItem from "../../components/web/DateServiceItem.astro";
---

<Layout title="Implantes Dentales">
    <Navbar />
    <HeaderServiceItem
        title="Implantes Dentales"
        image="/images/serviced09.jpg"
    />
    <section>
        <div class="flex flex-col md:flex-row">
            <ButtonServiceItem title="Agenda una cita" />
            <DescriptionServiceItem
                description="Los implantes son unos pequeños tornillos que se insertan en el hueso dental, del maxilar o de la mandíbula, con el fin de sustituir la raíz de un diente que, por diversas razones, se ha perdido. Tras insertarlo, colocamos una corona o prótesis que aporta la estética y funcionalidad. Reponer los dientes perdidos es una cuestión de salud, pero también de estética. Quizá el aspecto que más notamos está relacionado con el habla o la función masticatoria de la dentadura."
            />
        </div>
    </section>
    <section class="py-5">
        <div class="container mx-auto flex flex-col md:flex-row items-start">
            <div class="w-full md:w-1/2 p-10 md:p-20 text-center md:text-left">
                <p>
                    <span class="font-semibold"
                        >En cuanto a la parte estética, lucir una sonrisa sana y armónica ayuda a rejuvenecer el rostro, haciendo que nos veamos mucho mejor ante el espejo y sonriamos sin complejos, los beneficios de nuestro tratamiento son los siguientes:</span
                    >
                </p>
            </div>
            <div class="w-full md:w-1/2 p-10 md:p-20">
                <ServiceItemList
                    list={[
                        "Mejora la capacidad de masticar.",
                        "Presentan un aspecto natural imitando la naturaleza de tus dientes.",
                        "Devuelve la función estética.",
                        "Con un correcto mantenimiento, higiene y cuidado, su duración puede ser como la de un diente natural.",
                    ]}
                    listStyle="list-card-home-blue"
                />
                <p>Duración del tratamiento: 1 hora para tratamiento, y 3 meses aprox de rehabilitación.</p>
            </div>
        </div>
    </section>
    <section class="bg-gray-300 p-10" id="booking-date">
        <DateServiceItem />
    </section>
    <Footer />
</Layout>