---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/web/Navbar.astro";
import Footer from "../../components/web/Footer.astro";
import HeaderServiceItem from "../../components/web/HeaderServiceItem.astro";
import ButtonServiceItem from "../../components/web/ButtonServiceItem.astro";
import DescriptionServiceItem from "../../components/web/DescriptionServiceItem.astro";
import ServiceItemList from "../../components/web/ServiceItemList.astro";
import DateServiceItem from "../../components/web/DateServiceItem.astro";
---

<Layout title="Ortodoncia">
    <Navbar />
    <HeaderServiceItem
        title="Ortodoncia"
        image="/risso/images/serviced10.jpg"
    />
    <section>
        <div class="flex flex-col md:flex-row">
            <ButtonServiceItem title="Agenda una cita" />
            <DescriptionServiceItem
                description="¡Ten una sonrisa simétrica y armoniosa! La ortodoncia es una especialidad de la odontología que se encarga de todo el estudio, prevención, diagnóstico y tratamiento de las anomalías de forma, posición, relación y función de las estructuras dentomaxilofaciales. Su ejercicio es el arte de diagnosticar, prevenir, interceptar y corregir sus posibles alteraciones y mantenerlas dentro de un estado óptimo de salud y armonía mediante el uso y control de diferentes tipos de fuerzas."
            />
        </div>
    </section>
    <section class="py-5">
        <div class="container mx-auto flex flex-col md:flex-row items-start">
            <div class="w-full md:w-1/2 p-10 md:p-20 text-center md:text-left">
                <p>
                    <span class="font-semibold"
                        >En Risso Dental Studio contamos con ortodoncistas profesionales y Brackets de la mejor calidad, priorizando resultados seguros y estéticos.</span
                    >
                </p>
            </div>
            <div class="w-full md:w-1/2 p-10 md:p-20">
                <ServiceItemList
                    list={[
                        "Mejora la mordida y mejora la masticación ayudando a tener una mejor digestión.",
                        "Reduce problemas posturales y dolores de espalda.",
                        "Evita desgastes en los dientes. Disminuye el riesgo de caries.",
                        "Mejora significativa en los pacientes periodontales.",
                        "Mejoras estéticas significativas."
                    ]}
                    listStyle="list-card-home-blue"
                />
                <p>Duración del tratamiento: Depende de cada paciente.</p>
            </div>
        </div>
    </section>
    <section class="bg-gray-300 p-10" id="booking-date">
        <DateServiceItem />
    </section>
    <Footer />
</Layout>