---
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/web/Navbar.astro";
import Footer from "../../components/web/Footer.astro";
import HeaderServiceItem from "../../components/web/HeaderServiceItem.astro";
import ButtonServiceItem from "../../components/web/ButtonServiceItem.astro";
import DescriptionServiceItem from "../../components/web/DescriptionServiceItem.astro";
import ServiceItemList from "../../components/web/ServiceItemList.astro";
import DateServiceItem from "../../components/web/DateServiceItem.astro";
---

<Layout title="Tratamientos Generales">
    <Navbar />
    <HeaderServiceItem
        title="Tratamientos Generales"
        image="/images/serviced05.jpg"
    />
    <section>
        <div class="flex flex-col md:flex-row">
            <ButtonServiceItem title="Agenda una cita" />
            <DescriptionServiceItem
                description="¡Una sonrisa saludable es una sonrisa hermosa! la Odontología General cuenta con una gran cantidad de tratamientos preventivos, que evitan la aparición de patologías graves. Asimismo, muchas de sus técnicas están enfocadas a tratar las enfermedades bucodentales en sus etapas iniciales. La caries y la gingivitis son dos de los problemas de salud más frecuentes entre la población. La Odontología General permite curarlas y que no deriven en afecciones más graves"
            />
        </div>
    </section>
    <section class="py-5">
        <div class="container mx-auto flex flex-col md:flex-row items-start">
            <div class="w-full md:w-1/2 p-10 md:p-20 text-center md:text-left">
                <p>
                    <span class="font-semibold"
                        >Una parte importante de la estética bucal es la salud de la misma, por lo que en Risso Dental Studio contamos con los siguientes tratamientos generales:</span
                    >
                </p>
            </div>
            <div class="w-full md:w-1/2 p-10 md:p-20">
                <ServiceItemList
                    list={[
                        "Detartraje (limpieza dental)",
                        "Profilaxis",
                        "Restauraciones estéticas",
                        "Fluorización"
                    ]}
                    listStyle="list-card-home-blue"
                />
                <p>Duración del tratamiento: 3 - 4 citas.</p>
            </div>
        </div>
    </section>
    <section class="bg-gray-300 p-10" id="booking-date">
        <DateServiceItem />
    </section>
    <Footer />
</Layout>