@font-face {
  font-family: 'Axiforma-SemiBold';
  src: url('/fonts/Axiforma-SemiBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: 'Axiforma-Light';
    src: url('/fonts/Axiforma-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
body{
    background-color: #F5F6F8;
    font-family: 'Axiforma-Light';
}
.icon-navbar{
  color: #3348E2;
}
.border-risso-blue{
  border-color: #1C335F;
}
.bg-risso{
  background-color: #3348E2;
}
.bg-risso-blue{
  background-color: #1C335F;
}
.text-risso-blue{
  color: #1C335F;
}
.banner-risso{
  height: 80vh;
}
.navbar-scroll{
  margin-top: -60px;
  background-color: white;
  transition: all .5s;
}
.list-card-home-green{
  list-style-image: url('/images/CheckBoldGreen.svg');
}
.list-card-home-blue{
  list-style-image: url('/images/CheckBoldBlue.svg');
}
.service-button:hover .bg-service-color{
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-color: rgba(51, 72, 226, .8);
}
.service-button:hover .bg-service-color span{
  position: absolute;
  bottom: .75rem;
  left: .75rem;
  padding: .25rem;
}
.header-service-item::before{
  position: absolute;
  content: "";
  inset: 0;
  background-color: rgba(0, 0, 0, .33);
}
.tns-controls{
  position: absolute;
  z-index: 9;
  height: 100%;
  width: 100%;
}
.tns-controls button{
  opacity: .3;
  transition: all .5;
}
.tns-controls button:hover{
  opacity: 1;
}
.tns-controls button[data-controls="prev"]{
  top: 50%;
  position: absolute;
  left: 10px;
}
.tns-controls button[data-controls="next"]{
  top: 50%;
  position: absolute;
  right: 10px;
}
.btn-floating {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3348E2;
  color: #fff;
  border-radius: 50%;
  padding: 16px;
  font-size: 24px;
  border: none;
  cursor: pointer;
  z-index: 12;
}
.btn-floating:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

@media (max-width: 425px) {
  .navbar-scroll{
    margin-top: 0;
  }
}