@font-face {
    font-family: 'Axiforma-Light';
    src: url('/fonts/Axiforma-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
body{
    background-color: #F5F6F8;
    font-family: 'Axiforma-Light';
}
.icon-navbar{
  color: #3348E2;
}
.border-risso-blue{
  border-color: #1C335F;
}
.bg-risso{
  background-color: #3348E2;
}
.bg-risso-blue{
  background-color: #1C335F;
}
.text-risso-blue{
  color: #1C335F;
}
.banner-risso{
  height: 80vh;
}
.navbar-scroll{
  margin-top: -55px;
  background-color: white;
  transition: all .5s;
}
.list-card-home-green{
  list-style-image: url('/images/CheckBoldGreen.svg');
}
.list-card-home-blue{
  list-style-image: url('/images/CheckBoldBlue.svg');
}