---
import { Icon } from "astro-icon";
---

<section class="mt-5 md:-mt-32">
    <div class="container mx-auto flex flex-col md:flex-row px-5 md:px-28">
        <div class="p-14 bg-risso opacity-100 md:opacity-80 text-white">
            <h2 class="text-3xl">
                Utilizamos solo los<br />
                mejores productos
            </h2>
            <p class="text-1xl mt-4 leading-6">
                Tanto en nuestra área facial como dental trabajamos con
                productos de renombre, ya que nuestros tratamientos involucran
                la estética y rostro de nuestros clientes.
            </p>
        </div>
        <div class="p-14 bg-white opacity-100 md:opacity-60">
            <h2 class="text-3xl">Doctores<br />experimentados</h2>
            <p class="text-1xl mt-4 leading-6">
                Ponemos a tu disposición a los mejores médicos y odontólogos con
                conocimiento y experiencia para lograr resultados reales y
                satisfactorios.
            </p>
        </div>
        <div class="bg-risso px-3 flex items-center justify-center z-20">
            <a href="#">
                <Icon
                    name="teenyicons:arrow-right-solid"
                    class="w-8 text-white"
                />
            </a>
        </div>
    </div>
</section>
