---
interface Props{
    title:string;
    image:string;
}
const {title} = Astro.props
const {image} = Astro.props
---
<section
    class="h-80 md:h-screen bg-gradient-to-b from-[#B179D4] to-[#5B58BB] relative overflow-hidden flex items-center"
>
    <div class="container mx-auto">
        <div class="h-full align-middle relative z-10 w-3/4 md:w-2/4">
            <h1 class="text-3xl ml-5 md:ml-auto md:text-5xl lg:text-7xl text-white">
                {title}
            </h1>            
        </div>
    </div>
    <img src={`${image}`} alt="" class="absolute -right-10 bottom-0" width="58%" />
</section>
