<section
    class="h-80 md:h-screen bg-gradient-to-b from-[#B179D4] to-[#5B58BB] relative overflow-hidden flex items-center"
>
    <div class="container mx-auto">
        <div class="h-full align-middle">
            <h1 class="text-3xl ml-5 md:ml-auto md:text-5xl lg:text-7xl text-white">
                Vuelve a lucir<br>un rostro hermoso
            </h1>
        </div>
        <img src="/images/slider1.png" alt="" class="absolute -right-1/4 bottom-0" width="65%" />
    </div>
</section>
