---
interface Props{
    image:string;
    bottom:string;
}
const {image,bottom} = Astro.props
---
<section
    class="h-80 md:h-screen bg-gradient-to-b from-[#7963C4] to-[#5A57BB] relative flex items-center justify-center"
>
    <img src={`${image}`} alt="" class={`absolute ${bottom}`} width="50%" />
</section>
