<section
    class="banner-risso bg-gradient-to-br from-fuchsia-500 to-violet-500 relative overflow-hidden flex items-center"
>
    <div class="container mx-auto">
        <div class="h-full align-middle">
            <h1 class="text-7xl text-white">
                Vuelve a lucir<br>un rostro hermoso
            </h1>
        </div>
        <img src="/images/slider1.png" alt="" class="absolute -right-1/4 bottom-0" />
    </div>
</section>
