---
import { Icon } from "astro-icon";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";
---

<script>
    var nav = document.getElementById("header");
    var logo = document.getElementById("logo-navbar")
    var items = document.getElementsByClassName("item-navbar")
    window.onscroll = () => {
        var scroll = document.documentElement.scrollTop;
        if (scroll > 30) {
            nav.classList.add("navbar-scroll");
            logo.src = "/risso/images/logo-dark.svg"
            for (var i = 0; i < items.length; i++) {
                // items[i].style.color = "#1C335F"
                items[i].classList.remove("text-white")
                items[i].classList.add("text-risso-blue")

            }
        } else {
            nav.classList.remove("navbar-scroll");
            logo.src = "/risso/images/logo.svg"
            for (var i = 0; i < items.length; i++) {
                // items[i].style.color = "white"
                items[i].classList.remove("text-risso-blue")
                items[i].classList.add("text-white")
            }
        }
    };
</script>

<div class="bg-black px-12 py-3 hidden md:block">
    <div class="text-white text-sm">
        <div class="flex flex-col md:flex-row">
            <ul class="flex flex-wrap items-center gap-x-4">
                <li class="flex items-center">
                    <Icon name="mdi:phone" class="w-6 icon-navbar" />
                    <a href="tel:+51994124442">Celular: +51 994 124 442</a>
                </li>
                <li class="flex items-center">
                    <Icon name="mdi:google-maps" class="w-6 icon-navbar" />
                    <a href="#">Ubicación: Leon XIII D2 Yanahuara, Arequipa</a>
                </li>
                <li class="flex items-center">
                    <Icon name="mdi:clock" class="w-6 icon-navbar" />
                    <a href="contact-us.html"
                        >Lun - Vie: 10:00 - 19:00 | Sab: 10:00 - 17:00</a
                    >
                </li>
            </ul>

            <div class="flex ml-auto">
                <ul class="flex items-center gap-x-2 mr-2">
                    <li>
                        <a href="https://www.facebook.com/risso.beautystudio/">
                            <Icon name="ion:social-facebook" class="w-5" />
                        </a>
                    </li>

                    <li>
                        <a
                            href="https://www.instagram.com/risso.beautystudio/?hl=es-la"
                            ><Icon name="ion:logo-instagram" class="w-5" /></a
                        >
                    </li>

                    <li>
                        <a href="#"
                            ><Icon name="ion:logo-youtube" class="w-5" /></a
                        >
                    </li>
                </ul>
                <form class="flex items-center">
                    <input
                        type="text"
                        class="bg-transparent border border-gray-600 px-5 py-1"
                        placeholder="Buscar..."
                    />
                    <button class=""
                        ><Icon name="ion:ios-search-strong" class="w-6" />
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
<header
    class="fixed bg-transparent z-[60] flex-none items-center justify-between mx-auto w-full transition-all duration-200 lg:flex py-5 px-12 gap-5"
    id="header"
>
    <Astronav>
        <div class="flex items-center justify-between">
            <a href="/risso">
                <img
                    class="w-36 md:w-44"
                    src="/risso/images/logo.svg"
                    alt=""
                    id="logo-navbar"
                />
            </a>
            <div class="block lg:hidden">
                <MenuIcon class="w-4 h-4 text-gray-800" />
            </div>
        </div>
        <MenuItems class="hidden lg:flex bg-white md:bg-transparent mt-5 md:mt-0">
            <ul class="flex flex-col lg:flex-row gap-1 lg:gap-10 text-risso-blue md:text-white">
                <li class="p-2 md:p-0"><a class="item-navbar text-blue-900 md:text-white " href="/risso/nosotros">Nosotros</a></li>
                <li class="p-2 md:p-0"><a class="item-navbar text-blue-900 md:text-white " href="/risso/facial">Facial</a></li>
                <li class="p-2 md:p-0"><a class="item-navbar text-blue-900 md:text-white " href="/risso/dental">Dental</a></li>
                <li class="p-2 md:p-0"><a class="item-navbar text-blue-900 md:text-white " href="/risso/equipo">Equipo</a></li>
                <li class="p-2 md:p-0"><a class="item-navbar text-blue-900 md:text-white " href="#">Convenios y promociones</a></li>
                <li class="p-2 md:p-0"><a class="item-navbar text-blue-900 md:text-white " href="/risso/contactenos">Contáctanos</a></li>
                <li class="p-4 md:p-0">
                    <a
                        class="bg-risso p-5 rounded-3xl text-white font-bold tracking-widest"
                        href="/risso/contactenos">Reservas</a
                    >
                </li>
            </ul>
        </MenuItems>
    </Astronav>
</header>
