---
import CardPerson from "./CardPerson.astro";
---
<section>
    <div class="container mx-auto flex flex-col md:flex-row">
        <CardPerson name="Dr. Orlando Origuela" profession="Médico Cirujano" description="El Dr. Josue Risso......" url="" image="/images/josue-risso.png" instagram="" linkedin="" />
        <CardPerson name="Dr. Josue Risso Paredes" profession="Médico Cirujano" description="El Dr. Josue Risso......" url="" image="/images/josue-risso.png" instagram="" linkedin="" />
        <CardPerson name="Dr. Gabriel Tantalian" profession="Odontólogo" description="El Dr. Josue Risso......" url="" image="/images/josue-risso.png" instagram="" linkedin="" />
    </div>
</section>