<section>
    <div class="container mx-auto flex flex-col md:flex-row items-center justify-center">
        <div class="flex-1 text-center md:text-left p-10 md:p-20">
            <h2 class="text-4xl md:text-5xl mb-8">Nuestro propósito</h2>
            <p class="text-1xl leading-7 mb-8">Nuestro objetivo es brindar la mejor experiencia estética a nuestros clientes, priorizando todos los detalles para que puedan obtener los mejores resultados, siempre utilizando productos de alta calidad y con la asistencia de médicos y odontologos expertos en estética.</p>
            <p class="text-1xl leading-7 font-bold mb-12">¿Listo para lucir la mejor versión de ti de la mano de los mejores odontólogos y médicos estéticos?</p>
            <a href="/equipo" class='rounded-3xl border border-risso-blue text-risso-blue py-5 px-7'>Ver nuestros profesionales</a>
        </div>
        <div class="flex-1 p-10 md:p-20">
            <img src="/images/proposal.png" alt="Proposal" class="w-full">
        </div>
    </div>
</section>