---
interface Props {
    image: string;
    name: string;
    url: string;
}
const { image, name, url } = Astro.props;
---

<a href={`/risso/facial/${url}`}>
    <div
        class="w-4/5 md:w-64 mx-auto relative h-52 cursor-pointer service-button overflow-hidden"
    >
        <img
            src={`${image}`}
            alt="services"
            class="w-full h-full absolute top-0"
        />
        <div
            class="bg-risso absolute bottom-3 left-3 p-1 bg-service-color transition-all duration-300"
        >
            <span class="text-white text-1xl">{name}</span>
        </div>
    </div>
</a>
