<div class="w-64 relative h-52 cursor-pointer service-button overflow-hidden">
    <img
        src="/images/josue-risso.png"
        alt="services"
        class="w-full h-full absolute top-0"
    />
    <div
        class="bg-risso absolute bottom-3 left-3 p-1 bg-service-color transition-all duration-300"
    >
        <span class="text-white text-1xl">Botox & Ácido Hialurónico</span>
    </div>
</div>
