<section class="bg-black">
    <div class="container mx-auto flex items-center">
        <div class="">
            <img src="/images/josue-risso.png" alt="josue risso" class="w-full">
        </div>
        <div class="text-white flex-1 p-20">
            <h2 class="text-4xl mb-8">¿Qué es Risso para su fundador?</h2>
            <p class="text-1xl leading-7 italic text-zinc-400 mb-7">"Siempre tuve una gran admiración por la estética y belleza que todos poseemos y podemos llegar a tener, por lo que me dedique a la medicina profesional y formación internacional en estética, siendo Risso Beauty Studio es la culminación de mis metas al servicio de todos"</p>
            <p class="font-bold">Josue Risso Paredes</p>
            <p class="text-sm italic">Medico Cirujano especializado en estética</p>
        </div>
    </div>
</section>