---
interface Props {
    title: string;
    description: string;
}
const { title } = Astro.props;
const { description } = Astro.props;
---

<div class="text-center my-24">
    <h2 class="text-4xl md:text-5xl">{title}</h2>
    <p class="text-1xl leading-6 mt-10">{description}</p>
</div>
