---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/web/Navbar.astro";
import Footer from "../components/web/Footer.astro";
import HeaderPage from "../components/web/HeaderPage.astro";
import TitlePage from "../components/web/TitlePage.astro";
import Professionals from "../components/web/Professionals.astro";
import SilderTeam from "../components/web/SilderTeam.astro";
---

<Layout title="Equipo">
    <Navbar />
    <HeaderPage image="/risso/images/team.png" bottom="bottom-0" />
    <div class="container mx-auto">
        <TitlePage
            title="Conozca a nuestros profesionales"
            description="Nuestro personal es experto en estética, capacitado en el extranjero para poder ayudarlo con todas las consultas que tenga."
        />
    </div>
    <Professionals />
    <div class="container mx-auto">
        <TitlePage
            title="Formación"
            description=""
        />
    </div>
    <SilderTeam />
    <Footer />
</Layout>
