---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/web/Navbar.astro";
import Header from "../components/web/Header.astro";
import Box from "../components/web/Box.astro";
---

<Layout title="Inicio">
	<Navbar />
	<Header />
	<Box />
	<div class="h-[500px]"></div>
</Layout>

