---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/web/Navbar.astro";
import HeaderPage from "../components/web/HeaderPage.astro";
import ProposalAbout from "../components/web/ProposalAbout.astro";
import Testimonial from "../components/web/Testimonial.astro";
import TitlePage from "../components/web/TitlePage.astro";
import Professionals from "../components/web/Professionals.astro";
import Footer from "../components/web/Footer.astro";
---

<Layout title="Inicio">
	<Navbar />
	<HeaderPage />
	<ProposalAbout
		title="Nuestro propósito"
		paragraph1="Nuestro objetivo es brindar la mejor experiencia estética a nuestros clientes, priorizando todos los detalles para que puedan obtener los mejores resultados, siempre utilizando productos de alta calidad y con la asistencia de médicos y odontologos expertos en estética."
		paragraph2="¿Listo para lucir la mejor versión de ti de la mano de los mejores odontólogos y médicos estéticos?"
		textButton="Ver nuestros profesionales"
		url="/equipo"
		image="/images/proposal.png"
	/>
	<Testimonial />
	<div class="container mx-auto p-10 md:p-20">
		<TitlePage
			title="Conozca a nuestros profesionales"
			description="Nuestro personal es experto en estética, capacitado en el extranjero para poder ayudarlo con todas las consultas que tenga."
		/>
	</div>
	<Professionals />
	<Footer />
</Layout>
