---
import '../styles/Layout.css'
import { Icon } from "astro-icon";

interface Props {
    title: string;
}


const {title} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Risso Beauty Studio - Estética Facial - { title }</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/tiny-slider.css">
    <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>
    <main class="mx-auto">
        <slot />
        <a href="#" target="_blank" class="btn-floating"><Icon name="ion:social-whatsapp-outline" class="w-9" /></a>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
</body>
</html>